@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Default styles */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 32px;
  color: #000;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-1 {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

.col-1__header {
  height: 125px;
  background-color: #ffffff;
}

.col-1__title {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.col-1__title::after {
  content: url(../img/title.png);
  position: absolute;
  padding-left: 25px;
  top: 65px;
}

.col-1__title a {
  color: #364048;
  font-size: 48px;
  letter-spacing: -1.16px;
}

.col-1__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-1__item {
  height: 62px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #2f373b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.02)), to(rgba(255, 255, 255, 0.02)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
}

.col-1__item:hover {
  background-color: #1ab5b3;
}

.col-1__link {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  float: right;
  padding: 16px 25px 0 0;
}

.col-1__footer {
  height: 272px;
  background-color: #242b2e;
}

.col-1__social ul {
  padding-top: 30px;
}

.col-1__social li {
  display: inline-block;
}

.col-1__social li:not(:first-child) {
  padding-left: 8px;
}

.col-1__social li:first-child {
  padding-left: 40px;
}

.col-1__copyright {
  padding-left: 25px;
  color: #6b7072;
  font-weight: 400;
  line-height: 25px;
}

.col-2 {
  -ms-flex-preferred-size: 78%;
      flex-basis: 78%;
}

.col-2--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 257px 257px 257px 257px;
      grid-template-rows: 257px 257px 257px 257px;
  height: 100vh;
  overflow-y: scroll;
}

.col-2__item {
  background: url("../img/test.jpg") no-repeat center/cover;
}

.a-block {
  display: block;
  width: 100%;
  height: 100%;
}

.col-2__content {
  padding: 30px;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  border: 25px solid #b4b7b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-2__title {
  font-size: 24px;
  line-height: 26px;
}

.col-2__text {
  padding-top: 10px;
  color: #a3a3a3;
  font-size: 18px;
  line-height: 30px;
}

.col-2__content--left {
  width: 50%;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  padding-right: 30px;
  overflow-y: scroll;
}

.col-2__slider {
  width: 100%;
  height: 300px;
  background: url("../img/test3.jpg") no-repeat center/cover;
}

.col-2__text-container {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.col-2__related-projects {
  padding-top: 30px;
}

.related-projects__img {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.related-projects__img div {
  width: 33.3%;
  height: 100px;
  background: no-repeat center/cover;
}

.related-projects__img div:nth-child(1) {
  background-image: url("../img/test.jpg");
}

.related-projects__img div:nth-child(2) {
  background-image: url("../img/test1.jpg");
}

.related-projects__img div:nth-child(3) {
  background-image: url("../img/test2.jpg");
}

.col-2__content--right {
  width: 50%;
  background-color: #fff;
  padding-left: 30px;
  overflow-y: scroll;
}

.info__item {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}

.info__item::before {
  font-family: 'icomoon';
  color: #1ab5b3;
  font-weight: 400;
  line-height: 20.29px;
  border: 1px solid #1ab5b3;
  border-radius: 50%;
}

.info__item:nth-child(1):before {
  content: '\f007';
  padding: 8px 10px;
}

.info__item:nth-child(2):before {
  content: '\f004';
  padding: 8px 9px;
}

.info__item:nth-child(3):before {
  content: '\f073';
  padding: 8px 9px;
}

.info__item:nth-child(4):before {
  content: '\f075';
  padding: 8px 9px;
}

.info__link {
  padding-left: 15px;
  color: #848484;
  font-size: 14px;
  line-height: 30px;
}

.content--right__tags {
  padding-top: 30px;
}

.tags__list {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags__list div {
  margin: 5px;
}

.tags__link {
  color: #a3a3a3;
  font-size: 13px;
  line-height: 32px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 0 10px;
}

.content--right__project-gallery {
  padding-top: 30px;
}

.project-gallery__inner {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.project-gallery__item {
  margin: 5px;
  width: 50px;
  height: 50px;
  background: url("../img/test2.jpg") no-repeat center/cover;
}

.content--right__project-features {
  padding-top: 30px;
}

.project-features__list {
  padding-top: 10px;
}

.project-features__item {
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.project-features__item::before {
  padding-right: 7px;
  content: '\f00c';
  font-family: 'icomoon';
  color: #848484;
}

.col-2__slider-about {
  width: 100%;
  height: 300px;
  background: url("../img/about.jpg") no-repeat center/cover;
}

.col-2__our-staff {
  padding-top: 30px;
}

.our-staff__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-staff__item {
  margin-top: 20px;
  width: 30%;
  height: 100px;
  text-align: center;
  background: url("../img/about-people.jpg") no-repeat center/cover;
}

.our-staff__item:hover {
  background: #1ab5b3;
}

.our-staff__item:hover .our-staff__link {
  display: inline-block;
}

.our-staff__link {
  display: none;
  padding-top: 35px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.our-staff__link span {
  display: block;
  color: #ffffff;
  font-size: 7px;
  font-weight: 400;
  line-height: 16px;
}

.our-skills__progressbar-container {
  padding-top: 15px;
}

.progressbar-container__title {
  color: #727272;
  font-size: 15px;
  line-height: 26px;
}

.title-design::after {
  content: '89%';
  color: #000000;
  float: right;
}

.title-dev::after {
  content: '97%';
  color: #000000;
  float: right;
}

.title-plugins::after {
  content: '85%';
  color: #000000;
  float: right;
}

.title-frontend::after {
  content: '75%';
  color: #000000;
  float: right;
}

.progressbar-bg {
  margin-top: 5px;
  width: 100%;
  height: 34px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.progressbar {
  height: 100%;
  background-color: #e2e2e2;
}

.progressbar-design {
  width: 89%;
}

.progressbar-dev {
  width: 97%;
}

.progressbar-plugins {
  width: 85%;
}

.progressbar-frontend {
  width: 75%;
}

.content--right__testimonials {
  padding-top: 30px;
}

.testimonials__container {
  margin-top: 20px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.testimonials__container-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.profile__img {
  background: url("../img/man.jpg") no-repeat center/cover;
  -ms-flex-preferred-size: 80px;
      flex-basis: 80px;
}

.profile__info {
  padding: 25px 0 0 20px;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
  background-color: #1ab5b3;
}

.profile__info a {
  color: #ffffff;
  font-size: 15px;
  font-style: italic;
  line-height: 26px;
}

.testimonials__container-comment {
  padding: 25px 30px;
  color: #a3a3a3;
  font-size: 18px;
  line-height: 30px;
}

.content--right__services {
  margin-top: 30px;
}

.services__list {
  padding-top: 15px;
}

.services__item {
  list-style: disc inside;
  color: #848484;
}

.services__link {
  color: #848484;
  font-size: 14px;
  line-height: 28px;
}
/*# sourceMappingURL=style.css.map */